.env
venv
__pycache__/
*.pyc
outputs/
logs/
*.log
.DS_Store
.ipynb_checkpoints
orchestrator/uploads/
crowd_service/crowd_venv/
newvenv/
emotion_service/emovenv/
emotion_service/emovenv1/
body_service/bodvenv/